{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-base-200">
    <form class="rounded-lg p-8 shadow-xl form-control " method="post">
        {% csrf_token %}
        <h2 class="text-2xl font-semibold  mb-6 flex justify-center">Admin User Login</h2>

        <!-- Username Field -->
        <div class="mb-4">
            {{ form.username.label_tag }}
            <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}"
                   class="block w-full px-3 py-2 border rounded-lg focus:ring-accent focus:border-accent"
                   placeholder="{{ form.username.label }}">
        </div>

        <!-- Password Field -->
        <div class="mb-6">
            {{ form.password.label_tag }}
            <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}"
                   class="block w-full px-3 py-2 border rounded-lg focus:ring-accent focus:border-accent"
                   placeholder="{{ form.password.label }}">
        </div>

        <div class="mb-4">
            {% if form.errors %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    <span class="block sm:inline">Password atau Username salah</span>
                </div>
            {% endif %}
        </div>
        

        <div class="mt-6">
            <button type="submit" class="btn btn-accent btn-wide">Login</button>
        </div>
    </form>
</div>
{% endblock content %}
